body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    background-color: lightblue;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    max-height: 400px;
    overflow-y: auto;
}

.input-group label, .button-group button {
    display: block;
    margin-bottom: 5px;
}

.input-group input, .button-group button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; /* Defines a gap between each button */
}

.button-group button {
    flex: 1; /* Each button will take up equal amount of space */
    height: 35px;
}

.properties-container {
    margin-bottom: 20px;
}

.auth-options {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #f8f9fa; /* Light grey background */
    vertical-align: top; /* here */
}

.auth-options a {
    text-decoration: none;
    color: #007bff; /* Bootstrap's default link color */
    padding: 0 15px;
}

.auth-options a:hover {
    text-decoration: underline;
}


.addPropertyButton {
    width: fit-content;
    text-align: center;
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
