body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.form-container {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-toggle {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.form-toggle button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #007bff;
}

.form-toggle button:focus {
    outline: none;
}

input {
    display: block;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.remember-me {
    margin-bottom: 15px;
    display: flex;
}

form > * {
    margin: 10px 0;
}

.remember-me input[type="checkbox"] {
    margin-right: 0;
    /* Optionally, add custom styles for the checkbox */
}

.remember-me label {
    margin-right: 50%;
    /* Optionally, add styles for the label if needed */
}


button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
